
@{
    ViewBag.Title = "HomeQL";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}

<h2>Danh sách quản lý</h2>

<main class="container text-center">

    <div class="col">
        <h4>Quản lý học viên, giảng viên</h4>
        <hr />
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("Hocvien", "QLHocvien", null, Request.Url.Scheme)">Học viên</a>
        </div>
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("Giangvien", "QLGiangvien", null, Request.Url.Scheme)">Giảng viên</a>
        </div>
    </div>

    <div class="col">
        <h4>Quản lý chương trình học, lớp học, lịch học</h4>
        <hr />
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("Chuongtrinhhoc", "QLchuongtrinhhoc", null, Request.Url.Scheme)">Chương trình học</a>
        </div>
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("Lophoc", "QLLophoc", null, Request.Url.Scheme)">Lớp học</a>
        </div>
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("Cahoc", "QLcahoc", null, Request.Url.Scheme)">Lịch học</a>
        </div>

    </div>
    <div class="col">
        <h4>
            Quản lý tài khoản Học viên, giảng viên
        </h4>
        <hr />
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("", "", null, Request.Url.Scheme)">Tài khoản học viên</a>
        </div>
        <div class="btn btn-default">
            <a class="anchor" href="@Url.Action("", "", null, Request.Url.Scheme)">Tài khoản giảng viên</a>
        </div>
    </div>
</main>
