@model IEnumerable<TrungTamTA.Models.LopHoc>

@{
    ViewBag.Title = "Lophoc";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách lớp học</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Danh sách lớp học</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@if (TempData["AlertMessage"] != null)
{
    ViewBag.AlertMessage = TempData["AlertMessage"].ToString();
    TempData.Remove("AlertMessage");
}
@if (TempData["SuccessMessage"] != null)
{
    ViewBag.SuccessMessage = TempData["SuccessMessage"].ToString();
    TempData.Remove("SuccessMessage");
}
<p style="text-align:center;">
    @Html.ActionLink("Thêm lớp học", "Themlophoc", "QLLophoc")
</p>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}
@if (ViewBag.AlertMessage != null)
{
    <div class="alert alert-danger">@ViewBag.AlertMessage</div>
}
@if (TempData["AlertMessage"] != null)
{
    ViewBag.AlertMessage = TempData["AlertMessage"].ToString();
    TempData.Remove("AlertMessage");
}
@if (TempData["ErrorMessage"] != null)
{
    ViewBag.ErrorMessage = TempData["ErrorMessage"].ToString();
    TempData.Remove("ErrorMessage");
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
@if (TempData["ErrorMessage"] != null)
{
    ViewBag.ErrorMessage = TempData["ErrorMessage"].ToString();
    TempData.Remove("ErrorMessage");
}
<div class="content">
    <div class="container-fluid">
        <table class="table">
            <tr>
                <th>
                    Mã lớp học
                </th>
                <th>
                    Tên lớp
                </th>
                <th>
                    Tên giảng viên
                </th>
                <th>
                    Tên chương trình
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="search">
                    <th>
                        @Html.DisplayFor(model => item.IDLophoc)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLopHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiangVien.TenGiangVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChuongTrinhHoc.TenChuongTrinh)
                    </td>

                    <td>

                        @Html.ActionLink("Add Student", "themhvvaolop", new { IDlh = item.IDLophoc })|
                        @Html.ActionLink("Add Study Shift", "ThemlophocvaoCaHoc", new { IDlh = item.IDLophoc })|
                        @Html.ActionLink("View Class", "Xemhvtronglop", new { IDlh = item.IDLophoc }) |
                        @Html.ActionLink("Edit", "Sualophoc", new { IDlh = item.IDLophoc }) |
                        @Html.ActionLink("View All", "ShiftinClass", new { IDlh = item.IDLophoc })|
                        @Html.ActionLink("Delete", "Xoalophoc", new { IDlh = item.IDLophoc }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" })
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
