
@model TrungTamTA.Models.LopHoc

@{
    ViewBag.Title = "Sualophoccoct";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thay đổi thông tin lớp học</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Thay đổi thông tin lớp học</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDLophoc)

        <div class="form-group">
            @Html.LabelFor(model => model.IDLophoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.IDLophoc)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TenLopHoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLopHoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLopHoc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IDGiangVien, htmlAttributes: new { @class = "control-label col-md-2" })

            <p>ID giảng viên: @ViewBag.idgv</p>
            <p>Giảng viên: @ViewBag.namegv</p>
            <div>
                @Html.ActionLink("Thêm GV vào", "Themgvvaolop", new { idlh = ViewBag.IDlh, idaction = 2 })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IDChuongTrinh, htmlAttributes: new { @class = "control-label col-md-2" })

            <p>ID chuong trinh: @ViewBag.idct</p>
            <p>Chuong trinh hoc: @ViewBag.namect</p>
            <div>
                @Html.ActionLink("Thêm CT vào", "Themctvaolop", new { Idremen = ViewBag.idgv, idlh = ViewBag.IDlh, idaction = 2 }, null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Lophoc")
</div>

