@model TrungTamTA.Models.LopHoc

@{
    ViewBag.Title = "Themlophoc";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm chương trình học</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Thêm chương trình học</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IDLophoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-12">
            <input type="text" class="form-control form-control-user"
                   placeholder="Nhập mã lớp học" name="IDlophoc">
            <div style="color:red;">@ViewData["Loi1"]</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TenLopHoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-12">
            <input type="text" class="form-control form-control-user"
                   placeholder="Nhập tên lớp học" name="Tenlophoc">
            <div style="color:red;">@ViewData["Loi2"]</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GiangVien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>ID giảng viên: @ViewBag.idgv</p>
            <p>Giảng viên: @ViewBag.namegv</p>
            <div>
                @Html.ActionLink("Thêm GV vào", "Themgvvaolop", new { idaction = 1 })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ChuongTrinhHoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>ID chương trình:@ViewBag.idct</p>
            <p>Chương trình: @ViewBag.namect</p>
            @Html.ActionLink("Thêm CT vào", "Themctvaolop", new { Idremen = @ViewBag.idgv }, null)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Chuongtrinhhoc")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

