@model TrungTamTA.Models.LopHoc
@{
    ViewBag.Title = "ThemlophocvaoCaHoc";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm lớp học vào ca học</h1>
                <h4>Lớp học: @Model.TenLopHoc</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Thêm lớp học vào ca học</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@if (TempData["ErrorMessage"] != null)
{
    ViewBag.ErrorMessage = TempData["ErrorMessage"].ToString();
    TempData.Remove("ErrorMessage");
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
@if (TempData["ErrorMessage"] != null)
{
    ViewBag.ErrorMessage = TempData["ErrorMessage"].ToString();
    TempData.Remove("ErrorMessage");
}
<div class="content">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.IDLophoc, new { IDlh = ViewBag.IDlh })
            <div class="form-group">
                <label>Ca học:</label>
                <p>Ngày: @ViewBag.Ngay</p>
                <p>Thời gian bắt đầu: @ViewBag.TGBatdau</p>
                <p>Thời gian kết thúc: @ViewBag.TGKetthuc</p>
                <div>
                    @Html.ActionLink("Choose", "Cahoc", "QLLichhoc", new { IDlh = Model.IDLophoc, IDaction = 1 }, null)
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
        }

    </div>
</div>
