@model TrungTamTA.Models.ChiTietLopHoc

@{
    ViewBag.Title = "viewScore";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Điểm học viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Điểm học viên</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<table class="table">


    <tr>
        <td>Tên học viên:</td>
        <td>@ViewBag.namehv</td>
    </tr>
    <tr>
        <td>Lớp:</td>
        <td>@ViewBag.namelh</td>
    </tr>
    <tr>
        <td>Điểm nghe:</td>
        <td>@Html.DisplayFor(model => model.DiemNghe)</td>
    </tr>
    <tr>
        <td>Điểm nói:</td>
        <td>@Html.DisplayFor(model => model.DiemNoi)</td>
    </tr>
    <tr>
        <td>Điểm đọc:</td>
        <td>@Html.DisplayFor(model => model.DiemDoc)</td>
    </tr>
    <tr>
        <td>Điểm viết:</td>
        <td>@Html.DisplayFor(model => model.DiemViet)</td>
    </tr>
    <tr>
        <td>Điểm trung bình:</td>
        <td>@Html.DisplayFor(model => model.DiemTB)</td>
    </tr>

</table>
<p>
    @Html.ActionLink("Sửa điểm", "Xoahocvien", new { IDlh = @ViewBag.Idlh })
</p>

<div>
    @Html.ActionLink("Back to List", "", new { IDlh = @ViewBag.Idlh })
</div>