@model IEnumerable<TrungTamTA.Models.ChiTietLopHoc>

@{
    ViewBag.Title = "viewScore";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Điểm học viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Điểm học viên</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <table class="table">
            <tr>
                <td><strong>Tên học viên:</strong></td>
                <td>@ViewBag.namehv</td>
            </tr>
            <tr>
                <td><strong>Lớp:</strong></td>
                <td>@ViewBag.namelh</td>
            </tr>
            <tr>
                <td><strong>Điểm nghe:</strong></td>
                <td>@Html.DisplayFor(model => model.FirstOrDefault().DiemNghe)</td>
            </tr>
            <tr>
                <td><strong>Điểm nói:</strong></td>
                <td>@Html.DisplayFor(model => model.FirstOrDefault().DiemNoi)</td>
            </tr>
            <tr>
                <td><strong>Điểm đọc:</strong></td>
                <td>@Html.DisplayFor(model => model.FirstOrDefault().DiemDoc)</td>
            </tr>
            <tr>
                <td><strong>Điểm viết:</strong></td>
                <td>@Html.DisplayFor(model => model.FirstOrDefault().DiemViet)</td>
            </tr>
            <tr>
                <td><strong>Điểm trung bình:</strong></td>
                <td>@Html.DisplayFor(model => model.FirstOrDefault().DiemTB)</td>
            </tr>
        </table>

        <p>
            @Html.ActionLink("Sửa điểm", "addScore", new { IDlh = @ViewBag.IDlh, IDhv = @ViewBag.IDhv, IDaction = 2 })
        </p>

        <div>
            @Html.ActionLink("Back to List", "Xemhvtronglop", new { IDlh = @ViewBag.IDlh })
        </div>
    </div>
</div>