@model TrungTamTA.Models.GiangVien

@{
    ViewBag.Title = "Chi tiết giảng viên";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết giảng viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Chi tiết giảng viên</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <table class="table">
            <tr>
                <td>Hình Ảnh:</td>
                <td><img src="@Model.Hinh" alt="Hình ảnh" width="100" height="100" /></td>
            </tr>
            <tr>
                <td>Bằng Cấp:</td>
                <td><img src="@Model.BangCap" alt="Hình ảnh" width="100" height="100" /></td>
            </tr>
            <tr>
                <td>ID giảng viên:</td>
                <td>@Html.DisplayFor(model => model.IDGiangvien)</td>
            </tr>
            <tr>
                <td>Tên giảng viên:</td>
                <td>@Html.DisplayFor(model => model.TenGiangVien)</td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>@Html.DisplayFor(model => model.DiaChi)</td>
            </tr>
            <tr>
                <td>Số điện thoại:</td>
                <td>@Html.DisplayFor(model => model.SoDienThoai)</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Lương:</td>
                <td>@Html.DisplayFor(model => model.Luong) VND</td>
            </tr>

        </table>
        <p>
            @Html.ActionLink("Edit", "Suagiangvien", new { IDgv = Model.IDGiangvien }) |
            @Html.ActionLink("Back", "Giangvien","QLGiangvien")
        </p>
    </div>
</div>