@model IEnumerable<TrungTamTA.Models.ChiTietLichHoc>

@{
    ViewBag.Title = "Lichhoc";
    Layout = "~/Views/Shared/_layoutAD.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách lịch học</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("HomeQL", "Home", null, Request.Url.Scheme)">Home</a></li>
                    <li class="breadcrumb-item active">Danh sách lịch học</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@if (TempData["SuccessMessage"] != null)
{
    ViewBag.SuccessMessage = TempData["SuccessMessage"].ToString();
    TempData.Remove("SuccessMessage");
}
<p style="text-align:center;">
    @Html.ActionLink("Thêm lịch học", "Themlophoc", "QLlichhoc")
</p>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}
@if (TempData["SuccessMessage"] != null)
{
    ViewBag.SuccessMessage = TempData["SuccessMessage"].ToString();
    TempData.Remove("SuccessMessage");
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDLichhoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LichHoc.TGBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LichHoc.TGKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LichHoc.CacNgayTrongTuan.TenNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopHoc.TenLopHoc)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.IDLichhoc)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.LichHoc.TGBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichHoc.TGKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichHoc.CacNgayTrongTuan.TenNgay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHoc.TenLopHoc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Sualophoc", new { IDlh = item.IDLophoc }) |
                @Html.ActionLink("Delete", "Xoalophoc", new { IDlh = item.IDLophoc })|
                @Html.ActionLink("AddStudent", "themhvvaolop", new { IDlh = item.IDLophoc })|
                @Html.ActionLink("View", "Xemhvtronglop", new { IDlh = item.IDLophoc })
            </td>
        </tr>
    }
</table>

